# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/

# Fonts (keep only the one used in CSS)
static/fonts/*
!static/fonts/TT Interphases Pro Trial Bold.ttf

# IDE / OS
.idea/
.vscode/
.DS_Store
*.sqbpro